div.dropdown-menu {
	position: relative;
	display: inline-block;
}

div.dropdown-menu .dropdown-menu-header {
	position: relative;
	margin: 0;
	background-color: #f1f1f1;
	font-size: inherit;
	font-weight: inherit;
	z-index: 11;
}

div.dropdown-menu .dropdown-menu-header a {
	background-image: url( '../images/down.png' );
	background-size: 12px 8px;
	background-repeat: no-repeat;
	background-position: right center;
	margin: 0 20px;
	padding-right: 20px;
}

@media only screen and ( -webkit-min-device-pixel-ratio: 2 ),
only screen and ( min-device-pixel-ratio: 2 ) {
	div.dropdown-menu .dropdown-menu-header a {
		background-image: url( '../images/down%402x.png' );
	}
}

div.dropdown-menu a {
	color: inherit;
}

div.dropdown-menu a:hover {
	text-decoration: inherit;
}

div.dropdown-menu > ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 9;
	padding: 0;
	background-color: #f1f1f1;
	text-align: left;
	box-shadow: 0 1px 6px black;
	list-style: none;
	margin: 0;
}

div.dropdown-menu > ul.active {
	display: block;
}

div.dropdown-menu > ul li {
	margin-left: 0;
}

div.dropdown-menu ul li a {
	padding: 0.25em 1em;
}

div.dropdown-menu ul li.current {
	text-decoration: underline;
}
