@import url( 'reset.css' );
@import url( 'text.css' );

ul.expandable-menu {
	margin: 0;
	list-style: none;
	background-color: #333333;
}

ul.expandable-menu ul {
	display: none;
	margin: 0;
	list-style: none;
}

ul.expandable-menu li {
	margin: 0;
}

ul.expandable-menu li a {
	display: block;
	padding: 0 1em;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #929292;
	line-height: 2em;
	color: inherit;
}

ul.expandable-menu li a:hover {
	text-decoration: none;
}

ul.expandable-menu > li > a {
	background-color: #7f7f7f;
	/* Should also use black arrows here. */
	color: black;
}

ul.expandable-menu ul li.expandable > a {
	background-color: #b5b5b5;
}

ul.expandable-menu ul li a {
	background-color: #ebebeb;
}

ul.expandable-menu li.expandable > a {
	padding-left: 32px;
	background-image: url( '../images/right.png' );
	background-size: 8px 12px;
	background-repeat: no-repeat;
	background-position: 12px center;
}

@media only screen and ( -webkit-min-device-pixel-ratio: 2 ),
only screen and ( min-device-pixel-ratio: 2 ) {
	ul.expandable-menu li.expandable > a {
		background-image: url( '../images/right%402x.png' );
	}
}

ul.expandable-menu li.expanded > a {
	background-image: url( '../images/down.png' );
	background-size: 12px 8px;
	background-position: 10px center;
}

@media only screen and ( -webkit-min-device-pixel-ratio: 2 ),
only screen and ( min-device-pixel-ratio: 2 ) {
	ul.expandable-menu li.expanded > a {
		background-image: url( '../images/down%402x.png' );
	}
}

ul.expandable-menu li.current a {
	background-color: #fff;
	border-right-color: #fff;
}
