body.bone #text, body.surface-anatomy #text {
	font-weight: bold;
}

body.bone #text ul, body.surface-anatomy #text ul, body.radiology #text ul {
	list-style: none;
}

body.bone #text > ul > li, body.surface-anatomy #text > ul > li, body.radiology #text > ul > li {
	margin: 0;
}

body.bone #text .root {
	font-style: italic;
}

body.bone #text .note, body.surface-anatomy #text .note {
	font-weight: normal;
	font-style: italic;
}

body.bone a.photo-browser + ul {
	display: none;
}

body.bone a.photo-browser.current + ul {
	display: block;
}

body.bone a.overlay-image.current {
	color: #FFA500;
}

body.dissection a.photo-browser {
	background-image: url( '../images/camera.png' );
	/* Not supported in IE7 or IE8 but really only needed for retina */
	/* FIXME: This should be somehow scaled with font size. */
	background-size: 24px 18px;
	background-repeat: no-repeat;
	background-position: right top;
	padding-right: 30px;
}

body.dissection a.photo-browser.current {
	background-image: url( '../images/camera_1.png' );
}

@media only screen and ( -webkit-min-device-pixel-ratio: 2 ),
only screen and ( min-device-pixel-ratio: 2 ) {
	body.dissection a.photo-browser {
		background-image: url( '../images/camera%402x.png' );
	}
	
	body.dissection a.photo-browser.current {
		background-image: url( '../images/camera%402x_1.png' );
	}
}

body.dissection #text ol {
	list-style-type: upper-alpha;
}

body.dissection #text ol li {
	margin-bottom: 1em;
}

body.dissection #text div.important {
	background-color: #FFFF90;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	margin: 1em 0;
	padding: 0.625em;
}

body.dissection #text div.important div.heading {
	font-weight: bold;
}

body.dissection .animations {
	float: right;
	width: 175px;
	margin-left: 1em;
}

body.dissection #text div.figure {
	float: right;
	clear: right;
	width: 175px;
	margin-left: 0.75em;
	margin-bottom: 0.75em;
	text-align: center;
}

body.movement #text {
	text-align: center;
}

body.movement #text img {
	display: block;
	margin: auto;
}

body.summary #text ol {
	list-style-type: upper-roman;
}

body.summary #text ol li ol {
	list-style-type: upper-alpha;
}

body.summary #text ol li ol li ol {
	list-style-type: decimal;
}

body.summary #text ol li ol li ol li ol {
	list-style-type: lower-alpha;
}

body.summary #text ol li ol li ol li ol li ol {
	list-style-type: lower-roman;
}

body.summary #text ol li ol li ol li ol li ol li ol {
	list-style-type: square;
}

body.summary #text ol li ol li ol li ol li ol li ol li ol {
	list-style-type: disc;
}

body.summary a.pdf {
	display: block;
	float: right;
	font-weight: bold;
	font-size: 1.2em;
}

/** Deprecated Styles That Should Eventually Be Removed */
body.bone .animations {
	float: right;
	width: 175px;
	margin-left: 1em;
}

body.bone.inactive {
	background-color: #DDDDDD;
}

body.bone #text div.part {
	padding: 5px;
	padding-left: 7px;
}

body.bone #text div.part.active {
	padding: 3px;
	padding-left: 5px;
	border-color: #555555;
	border-style: solid;
	border-width: 2px;
	background-color: white;
}

body.bone #text div.part div.part {
	margin-left: 1em;
}

body.bone #text div.part div.name span.note {
	display: block;
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
	margin-left: 1em;
}

body.bone #text div.part div.information {
	margin-left: 1em;
}

body.surface-anatomy #text object {
	display: block;
	margin: auto;
}

body.surface-anatomy #media, body.radiology #media {
	padding: 0.75em;
}

body.surface-anatomy .overlay-image img, body.radiology .overlay-image img {
	max-width: 100%;
}

body.radiology #text {
	text-align: center;
}

body.radiology #text img {
	max-width: 100%;
}

body.radiology.media #text {
	text-align: left;
	font-weight: bold;
}
/*
body.radiology #text ul {
	position: absolute;
	right: 60%;
	text-align: left;
	padding-right: 2em;
}

body.radiology div.overlay-image {
	position: absolute;
	left: 40%;
}
*/